body {
    background-color: violet;
}


.text-div {
    margin-bottom: 0px;
}

.input-field input[type=text]:focus + label {
    color: white;
    margin-bottom: 
}

#categories {
    position: relative;
    left: 45px;
    margin: 0px 20px 0px;
}

#location {
    position: relative;
    left: 45px;
    margin: 0px 20px 0px;
}

#location-switch {
    margin: 20px 5px 20px;
}

#location-collapse {
    padding: 20px;
    background-color: white;
}