body {
    background-color: white;
}


.text-div {
    margin-bottom: 0px;
}

.input-field input[type=text]:focus + label {
    color: white;
}

#categories {
    position: relative;
    left: 45px;
    margin: 0px 0px 0px;
}

#location {
    position: relative;
    left: 45px;
    margin: 0px 20px 0px;
}

#location-switch {
    margin: 20px 5px 20px;
}

#location-collapse {
    padding: 20px;
    background-color: white;
}

.row.center-align {
    margin: 0 auto;
}

.fr-label {
    position: relative;
    left: 20px;
}

#food {
    margin: 0px 20px 0px;
}

.switch label .lever {
    margin: 0px 0px 0px;
}

.submit-button {
    margin: 0 auto;
}