body {
    background-color: white;
    background-image: url("https://images.pexels.com/photos/12591/7ccb42c82fc0e75901527fa38ae48b54.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position-y: 50%;

}
#header{
    /* background-color: rgb(255, 101, 1); */
    /* background-color: rgb(255, 255, 255); */
}
#search,#autocomplete{
    color:white;
}

.text-div {
    margin-bottom: 0px;
}

.input-field input[type=text]:focus + label {
    color: white;
    /* margin-bottom:  */
}

#categories {
    position: relative;
    left: 45px;
    margin: 0px 0px 0px;
}

#location {
    position: relative;
    left: 55px;
    margin: 0px 20px 0px;
}

#location-switch {
    margin: 20px 5px 20px;
}

#location-collapse {
    padding: 20px;
    background-color: rgba(0,0,0, 0);
}
p{
    color:white;
}
.list{
    background-color: rgba(85, 85, 85, 0.8);
}
.side{
    color:rgb(255, 101, 1);
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0 auto;
text-align: center;
}
.collapsible-header{
    background-color: rgba(0,0,0, 0);
    /* opacity: 0; */
}
option{
color:white;
}

.dropdown-content{
    background-color: rgba(0,0,0, 0.7);
    width:unset !important;

}
label{
    color:white;
    
}
/* .select-dropdown{
    width:unset !important;
} */
